<a href="https://colab.research.google.com/github/antisium/XII/blob/anti-AS-patch-1/Daily_Hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### prev ques

In [0]:
# title prev ques

# Daily HW
# Date:9/4/2020
""" Write down the output of the following: """

# fo = open("9-4.txt","wt")
# fo.write("Hello world, how are you? Here, you are learning python")
# fo.close()
# fo = open("9-4.txt","r")
# print("Name of the File : ",fo.name)
# str=fo.read(11)
# print("Read String is till 10       : ",str)
# pos= fo.tell()
# print("Current Position             : ",pos)
# str=fo.read(10)
# print("Read String is till next 10  : ",str)
# pos= fo.tell()
# print("Current Position             : ",pos)
# print()
# print("Sending Pointer back to Top")
# pos = fo.seek(0,0)
# print("Current Position             : ",pos)
# str=fo.read(25)
# print("Read String is till 25       : ",str)
# pos= fo.tell()
# print("Current Position             : ",pos)
# fo.close()
# print("File Closed  : ",fo.closed)

# Output
# Sending Pointer back to Top
# Current Position             :  0
# Read String is till 25       :  Hello world, how are you?
# Current Position             :  25
# File Closed  :  True


# %%
# Date:10/4/2020
""" Explain the difference between absolute path and Relative path with example. """

# print('''Absolute Path:
#         Path is given from the topmost level (parent directory) of the directory structure.
#         Denoted by: .''')
#
# print('''Relative Path:
#         Path is given relative to the current working directory.
#         Denoted by: ..''')

# %%
# Date:11/4/2020
""" Fill in the blanks #1,2,3 to read a line from keyboard(without input) and display on monitor(without print) """
# import sys
#
# a1 = sys.stdin.readline()                   #1
# a2 = sys.stdin.readline()          #2
# sys.stdout.write(a1+a2)               #3


""" Answer in one  word:
a.           Which function breaks the link of the file-object and the file on the disk.
b.           ______ governs the type of operations performed on the opened file
c.           sys.stdin  is always opened in ________mode  """

# print("A. - close()")
# print("B. - File Mode")
# print("C. - Read Mode")


# %%
# Date:12/4/2020
"""
Write a function and program to call  FileRead(pass filename  as parameter) to read ,count and display  the  Uppercase ,Lowercase,Digits and  Special  characters count from the passed file.
Example
If file has following contents
I
ChanGed
MY
Password to
‘INCORRECt1.2.3.4’

Then output is:
Uppercase Count: 14
Lowercase Count: 15
Digit Count: 4
Special Character Count:11  """

# def FileRead(fname=''):
#     c_upper = c_lower = c_digit = c_spec = 0
#
#     for part in fname:
#         if part.isalpha():
#             if part.isupper():
#                 c_upper += 1
#             if part.islower():
#                 c_lower += 1
#         elif part.isdigit():
#             c_digit += 1
#         else:
#             c_spec += 1
#
#     print('Uppercase Count: ' + str(c_upper))
#     print('Lowercase Count: ' + str(c_lower))
#     print('Digit Count: ' + str(c_digit))
#     print('Special Character Count: ' + str(c_spec))
#
# FileRead('I TRIED this out !?')

##### 13/4/2020

In [0]:
'''Write the commands to:
1.Create a database student
2.Create database student if it not exists
3.Activate Database students.
4. Display the name of activated database.
5.Display the tables in database.
6.remove database student from Memory.
'''

##### 14/4/2020

In [0]:
'''Explain the following Terms with example:
1.Tuple
2.Attribute
3.Degree 
4.Cardinality
5. Difference and similarity between Primary Key and Unique constraint
'''

##### 15/4/2020

In [0]:
'''Write down the use of select statement with all the clauses.'''

##### 16/4/2020

In [0]:
'''Explain the Like operator with its wildcard characters.
%      A%
- 
A__
'''

##### 17/4/2020

In [0]:
'''__drop   command removes a table from database.
How None value is represented in MySQL? NULL
Write two examples of RDBMS software. Mysql,sybase
DDL stands for  Data Definition Language
'''

##### 18/4/2020

In [0]:
'''Write the other name for table. Relation'''

#####19/4/2020

In [0]:
'''What is the need for FIELD function in order by clause?Give example.
Customize sort.
'''

#####20/4/2020

In [0]:
''''''

##### 21/4/2020

In [0]:
'''Explain different type of functions available in MySQL
With two examples of each.
'''

#####22/4/2020

In [0]:
'''Ram has written following query to retrieve records of his friends(name starting with A) but its not giving any output.
Write correct query and underline corrections
Select * 	
From friend 
Where name =’%A’
And email=null;
'''

#####23/4/2020

In [0]:
'''Write down the differences and similarity between Equi join and Natural join with an example.'''

##### 24/4/2020

In [0]:
'''Observe the following Tables and answer:
| empno | ename | deptno | sal   |
|   101 | A     |     10 | 10000 |
|   102 | B     |     20 | 20000 |
|   103 | C     |   NULL | 30000 |
|   104 | D     |     10 |  5000 |
|   105 | E     |     30 | 50000 |
 	| deptno | dname | location |
|     10 | FIN   | NM       |
|     20 | MKT   | Delhi    |
|     30 | Admin | NM       |
|     40 | RES   | Jaipur   |
|     50 | Sales | Jaipur   |

1.What will be the output of the following query?Explain
mysql> select ename,dname,deptno
    -> from dept,emp
    -> where emp.deptno=dept.deptno;
'''

##### 25-28/4/2020

In [0]:
'''What is cursor() function ?
What is execute() function?
What is fetchall() function ?
What is the significant of commit() and close() function.
'''

##### 29/4/2020

In [0]:
'''connect
use existing database 
use table emp
insert records
display all records
Display rowcount
Display the total number of employees in each department
Accept deptno and display salary 
accept salary in range 10000-50000 and display the name and salary
accept empno and display details.
accept deptno and update salary (increase +5000)
accept empno and delete record
'''

##### 30/4/2020

In [0]:
'''Find and write the output of the following python code: 
def  Change(P=10 ,Q=30):  
               P=P+Q  
               Q=P-Q  
               print( P,"#",Q)  
               return(P) 
R=150  
S=100  
S=Change(R,S)  
Change(S) 
Change()
'''

##### 1/5/2020

In [0]:
'''Find and write the output of the following python code: 
a=10 
def call(): 
     global a 
     a=15 
     b=20 
     print(a) 
call()
'''

##### 2-3/5/2020

In [0]:
'''
'''

#####12/5/2020

In [0]:
'''Write a program to the following
CREATE MENUS AND SUBMENUS FOR THE FOLLOWING:
MENU
1.	CREATE A lIST OF INTEGER VALUES
2.SORT BY BUBBLE SORT
3.SORT BY INSERT SORT
2.	INSERT AT END
3.	INSERT AT POSITION
4.	LINEAR SERACH 
5.	BINARY SEATCH
6.	BISECAT BINARY SEARCH
7.	DELETE BY VALUE
8.	DELETE BY INDEX
CREATE FUNCTIONS TO IMPLEMENT MENU 
'''

#### /5/2020

In [0]:
'''
'''