<a href="https://colab.research.google.com/github/antisium/XII/blob/anti-AS-patch-1/RF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### prev ques

In [0]:
#Note:
#Add question
#Add captions while displaying the output

#1.
#m = int(input('Enter 1st number (Divisible by):'))
#n = int(input('Enter 2st number:'))
##add caption
#for i in range(2, n + 1):
#   if i % m == 0:
#       print(i)

#2.
#print('--')
#s = input('Enter string:')
#f = 1
#
#for i in range(len(s)):
#   if s[i] in s[i + 1:]:
#       f = 0
#       break
#else:
#   print('Is unique.')
#
#if not f:
#   print('Not unique')

#3. #resolved - use loop for 5 students as well as for 3 subjects
#print('--')
#
#std = (),
#
#for no in range(1,5+1):
#    #Accepting input
#    subs = tuple(eval(input('Enter student-' + str(no) + 'marks:')))
#
#    #Creating nested tuple
#    std += (subs,)
#else:
#    print("Marks:", std)
#
#Calculating total and avg marks per student
#c = 0
#for student in std:
#   # Student no.
#   c += 1
#
#   # Total calculation
#   total = 0
#   for marks in student:
#       total += marks
#
#   # Avg calculation
#   avg = total / 3
#
#   # Displaying results
#   print("Total marks of student-", c, ":", total)
#   print("Average marks of student-", c, ":", avg)
#   print()

#4.
#print('--')
##Resolved - Don't create new list as per question
#ls = []
#for no in range(1, 8+1):
#   ls += [int(input('Enter number-' + str(no) + ':'))]
#
#for id in range(0, len(ls), 2):
#   ls[id], ls[id+1] = ls[id+1], ls[id]
#else:
#   print('Original list:', ls)
#   print('New list:', ls)



# 5. #Resolved - Read the question properly first create dictionary of all alphabets
#Then display the output as displayed in the question. Dont use json
#Method1
#print('--')
#from json import * # not required
#
#st_org = input('Enter a string in lowercase: ')
#
#st_dict = {}
#
#for chara in st_org:
#   st_dict[chara] = chr(122 - (ord(chara) - ord('a')))
#else:
#   print(dumps(st_dict, indent=2))

#5. Method2
#print('--')
#
#st_org = input('Enter a string in lowercase: ')
#
#st_dict = {}
#
#for num in range(26):
#   print(chr(num) + '--' + chr(ord('z') - ord('a') - num))
#else:
#   print('Final Dictionary:', st_dict)
#   print('Result:',st_dict[st_org])



# 6 Resolved -  use range /loop
# Numbers Generator
# def mid4(x,y):
#   dif = abs(y-x)
#   t1 = x
#   t4 = y
#
#   t2,t3 such that t2-t1 = t4-t3
#   req_dif = dif/3
#   t2 = t1 + req_dif
#   t3 = t4 - req_dif
#
#   print(t1, t2, t3, t4)
# mid4(5, 18)

# Method - 2
#def generate(x,y):
#    step = (y-x) // 4
#
#    for i in range(4):
#
#        print(x+i*step)
#
#generate(10,55)
#
# 7.Function with default arguments
#import random
#
#
#def rndm(n = 3):
#   print(random.randint(10**(n-1), int('9' * n)))  # good
#
#
#rndm(5)
#

# 8.Sum of series using functions
#def fact(n1):
#    p = 1
#    for i in range(1, n1 + 1):
#        p *= i
#    return p
#
#
#def pwr(base, pr):
#    exp = base ** pr
#    return exp
#
#
#def sum_exp(x, nosterm):
#    sum_total = 0
#    for t in range(1, nosterm + 1):
#        num = pwr(x, t)
#        den = fact(t)
#        term = num / den
#        sum_total += term
#
#    return sum_total
#

# 9.Temperature Analysis
#def create():
#    d = {}
#    global d
#    for week_no in [1,2,3,4]:
#        print('Enter temperatures for week-' + str(week_no))
#        d[week_no] = []
#
#        for day_no in range(1, 8):
#            curr_temp = int(input('Enter for day ' + str(day_no) + ':'))
#            if curr_temp:
#                d[week_no] += [curr_temp]
#            else:
#                d[week_no] += [0]
#
#
#def check():
#    min_temp = max_temp = d[1][0]
#    for week_no in [1,2,3,4]:
#        sum = 0
#        for temp in d[week_no]:
#            sum += temp
#            if temp > max_temp:
#                max_temp = temp
#            if temp < min_temp:
#                min_temp = temp
#        else:
#            print('Average temperature of week-' + week_no + (sum//7))
#
#    else:
#        print('Maximum temperature of the month:', max_temp)
#        print('Minimum temperature of the month:', min_temp)
#
#
#

##### 10.

In [0]:
'''Write a method in Python to create a text file ‘notes’ .
Read the file and count ‘.’ and ‘,’ (as separate counts).  Display the contents of original file and count .
INDEX: Working on individual characters in a textfile
'''

#####11.

In [0]:
'''A file ‘sports’ contains information in following format :
Event  participant.(in notepad with a single space separating both).
Write a method that would read the contents and creates a file named ‘athletics’, copying only those records from sports where the event name is ‘athletics’.
INDEX: Conditional copy of a text file.
'''

#####12.

In [0]:
'''Write a method to create a textfile ‘original’ with 5 lines in it. Copy all the contents of the original file into another file called ‘copy’ , by removing all the lines that contain alphabet ‘a’ in it.
INDEX: Copying from a textfile after modification.
'''

#####13.

In [0]:
'''Write a method to read characters from the keyboard one by one. Write all lowercase alphabets get  in a file ‘lower’, all upper case alphabets in a file ‘upper’ and all other characters in ‘others’. Display the contents of all the three files.
INDEX: Multiple file handling.
'''

#####14.

In [0]:
'''Create a textfile with 5 lines in it. Read the textfile line by line and display each word separated by ‘#’
INDEX: Working with lines and words.
'''

#####15.

In [0]:
'''Write a program that takes a user id and password from the user and appends it to a file ‘security’, provided the given userid does not exist in the file. If it does , then display error message “ User id already exists” and prompts the user to reenter the userid. Also make sure that the password is atleast 8 characters long, has a digit and a special character (only $ , @, %) in it.
INDEX: Password generator.
Output: 
Enter UserId:ash
UserId already exists. 
Enter UserId:hov 


Enter Password  :abcd
Password must be of more than 8 characters. 
Enter password: abcdefgh  
Error!Must contain digit. 
Enter Password: abcdefg1
Error!Must contain special characters. 
Enter Password:abcdef@1 
'''

#####16.

In [0]:
'''Create a textfile having 10 email address in it. Each address is stored in a separate line. Find out the most common domain name present in the file and display it.
Note: The username comes first, followed by an at (@) symbol, followed by the domain name.
INDEX: Searching a textfile.
'''

#####17.

In [0]:
'''WAP to work with a binary file. The file contains the records of the student having the following format.
       Sno, Name  and marks (taken as a list) 
Write a menu driven program to do the following.
a. Add a record
b. Display all records
c. Accept  Sno and modify the marks of that student
d. Accept  Sno and modify the name of that student.
INDEX: Binary file handling.	
(Note : Updation is done on the original file
'''

#####18.

In [0]:
'''WAP to work with a CSV file. The file contains the records of the student having the following format.
     Rno, Name  and marks (taken as a list) 
    Write a menu driven program to do the following.
a. Add a  single record
b.Add a  multiple record in one GO
c. Display all records 
INDEX: CSV  file handling.
'''

#####19.

In [0]:
'''1.Create Database CS12B2021.
2. Activate CS12B2021.
3. Create table employee with following fields and constraints
eno int pk
ename varchar(20) not null
sal decimal(10,2) can be >=5000 and <=100000
comm decimal(10,2)
deptno int can be 10,50,80
job varchar(10) can be Mgr,Clerk,Fin,Mkt
doj date
Insert 5 records

Write the following queries
1. Display all the records.
2. Display Structure of Table.
3.  Delete the records where job is Clerk.
4. Update all the records by increasing salary by 10%.
5. Update the job of empno 1 to mkt.
6. Modify the comm of employees in FIN job to 1000.
7. Change the deptno to 50 and job as MKT for the employees where comm is null
  Index: create Table Employee with constraints and use of DML commands 
'''

#####20.

In [0]:
'''Consider the following table named “GYM” with details about Fitness products being sold in the store.                                     Table Name : GYM 
 
prcode int Primary Key , prname varchar(20) , Price int , manufacturer varchar(20) 

Insert 6 records ( Note the records must cater to all requirements of the queries given below)
  
Write SQL statements to do the following: 

a) Display the names and  price of all the products in the store 
b) Display the names of all the products with price less than Rs.20000.00 
c) Display details of all the products with price in the range 20000 to 30000 
d) Display names of all products by the select manufacturer “Fit Express” 
e) Add a new row for product with the details: 
             “P106”,“Vibro Exerciser”, 23000, manufacturer : null. 
f) Change the price  of all the records by applying a 10% discount reduction on all the products. 
g) Display details of all products with manufacturer name starting with “A” 
h) Display details of all products with manufacturer name not ending with “s” 
i) Display all rows sorted in descending order of price. 
j)Display the name and price where manufacturer is null 
k) Display the name and price where manufacturer is not null
  l) Display manufacturer, whose name has 10 characters 
m) Display manufacturer, whose name not starting with A alphabet. 
n) Display the price of items where manufacturer is Avon fitness . Give an alias name to price as “unit price of the product”. Arrange data in descending order of  price. 
o) Display the report in following format for all the records: 
Example Product Name:Cross trainer is manufactured by Avon Fitness and it costs Rs. 25000/-from gym .’’’
P) display product name where manufacturer details are not entered.
Q) display product name  and manufacturer details for all products with manufacturer details.
Index: Create Table GYM and select statement with different operators
'''

#####21.

In [0]:
'''Create table member 
mid varchar(5), 
fname varchar(10) 
contractduration char(1) 
Do the following after creating above table: 
1. add primary key to mid column 
2. add not null to fname column 
3. add new columns as lname,caddress 
4. change the size of fname column to varchar(20) 
5. change the datatype of contractduration column to int 
6. change the name of contractduration to condur 
7. change the order of column lname after fname. 
8. drop the column caddress 
9. drop the primary key of the table.
Index: create Table Member and use of DDL (ALTER)command with its clauses
'''

#####22.

In [0]:
'''Write SQL query for the following: 
Table name : shoes
 Attributes : code-Primary key, type  can be school,office,sports
 
Insert following records:
   1. Display the type, minimum, maximum and average margin of each type of shoes. 
2. Display type and total quantity of each type of shoes. Arrange it by descending order of total quantity . 
3. Display type and total quantity of each type of shoes. And display only those type where total qty is more than 1500. 
4. Display type and total quantity of each type of shoes and display only those type where average size is  greater than 5.5. 
5. Display type and total quantity of each type of shoes where size is not equal to 6 and  total quantity is greater than 1500. 
6. Display the type, size, total count from shoes for each type and with that each size.
 (group by multiple columns) 
7. Display the total stock value(cost*qty) of each type of shoes. Arrange it in ascending order of total stock value . Give alias name as ‘Total stock value’.
8. Display the count of total number of different types of shoes available in shoes table.
 
Index: Group by, having and aggregate functions 
'''

#####23.

In [0]:
'''Create tables(Emp and Dept) with following constraints AND insert 5 records in emp table and dept table.
Table emp 
empno int Primary key 
ename char(20)
deptno int foreign key 
sal  int
Table dept 
deptno int primary key 
dname char(10)    
location  char(30)

Insert following Records:
EMP
+-----+-------+------+----------+
| eno | ename | dno  | sal  	|
+-----+-------+------+----------+
| 101 | A 	|   10 | 10000.00 |
| 102 | B 	|   20 | 20000.00 |
| 103 | C 	| NULL | 30000.00 |
| 104 | D 	|   10 |  5000.00 |
| 105 | E 	|   30 | 50000.00 
          DEPT
+-----+-------+--------+
| dno | dname | loc    |
+-----+-------+--------+
|  10 | FIN   | NM     |
|  20 | mkt   | delhi  |
|  30 | admin | nm 	|
|  40 | RES   | Jaipur |
|  50 | Sales | Jaipur |



Write SQL commands to:
1. Display the Cartesian  product of both the tables. 
2. Display ename,dname and dno . 
3. Display ename,dno,location where sal is between 1000 and 40000 
4. Display ename,dname and dno where sal is >30000 and location is “Navi Mumbai”. 
5. Display ename,dno,location where sal is between 1000 and 40000.Arrange sal in descending order. 
6. Display ename,dname and dno where sal is <= 30000 and location is “delhi” and dept is 10 or 20. 
7. Display all details from both the tables using natural join .
8. Create a new table employee from the existing table emp . 
9. Display all the constraints of table emp .
10. Display the details of emp table and dname from both tables using equi join.
11.Display the Employee name and Salary of all the employees in jaipur.(use Subquery)

12. Write down the output of the following:
select dname,count(*)
from emp,dept
 where dept.deptno=emp.deptno
 group by emp.deptno;

Index: Retrieve data using joins-Equi,Natural and Cartesian join
'''

#####24.

In [0]:
'''Index: QUIZ : PYTHON and MySQL connectivity
Write a program to do the following (Note: Use Python to write all sql commands )
1.	Create a function quizstructure() to:
 Connect Python and MYSQL 
            Show all the database
  Create database Quiz 
   Activate database quiz 
Display all he tables in quiz database

Create table Qrecords with following fields and constraint
  Qno int Primary key 
 Ques varchar2(100) not null 
Type varchar2(20) can be GK,Maths,CS 
Opt1 varchar2(30) not null 
Opt2 varchar2(30) not null 
Opt3 varchar2(30) not null 
Opt4 varchar2(30) not null 
Ans varchar2(30) not null
Points int
2.	Add(): To Add questions in the program. Ask user how many questions to enter and insert records 
3.	Display(): Display all the data in the Qrecords  table .
4.	Qno_search() : Accept qno from user and display qno ,question and answer for the entered qno
5.	Type_search() : Accept type from user and display qno ,question and answer for the type entered. 
6.	Update() :Accept qno from user and update the question,options,ans
7.	Delete(): Accept the qno and delete the records 

Play():  Ask the user how many times he wants to play. Run a loop. Randomly select questions from the question table and accept answer from user. If the given answer is correct display “CORRECT ANSWER” otherwise display “WRONG – CORRECT ANSWER IS - “(correct answer) 
At the end display total score (each correct answer is +10 and each wrong answer is -5)
8.	Write a menu to call the functions as per the users choice. Use a while loop. Stop the loop when user enters choice as 8.
                                                   Menu
1.	Add questions.
2.	Display all the questions.
3.	Search question based on question number
4.	Search question based on type
5.	Update a question
6.	Delete a question
7.	Play Game
8.	Exit
Index: MYSQL and PYTHON Interface: Quiz Application
'''

#####25.

In [0]:
'''Index: DATA STRUCTURE:LIST

Write a menu driven program to do the following in a numerical list.
MAIN MENU	
1. Accept a list
2. Display the list
3. Sort the list in descending order
4. Insert an element
5. Delete an element
6. Search for an element
7. Exit
Note:
1. Write functions for all options except option 7
2. Insertion sort to be used for option 3
3. Bisect method SHOULD NOT BE USED for option 4
4. Binary search to be used for option 6
'''

#####26.

In [0]:
'''Index:Program using comprehension list
 
Output – [1,2,3,5,8,13]
'''

#####27.

In [0]:
'''Index:Data Structure: STACK

Write a menu driven program for stacks with the following options. The stack will hold alphabets:
1.Push                                                            [pushes one alphabet at a time]
2.Pop
3.Peek
4.Display                                                       [displays each alphabet twice]
5.Exit
Ex: If the stack has [ ‘g’ , ‘a’, ‘m’, ‘e’ ]   then the display function should display
ee mm aa gg
'''

#####28.

In [0]:
'''Write a menu driven program for queue with the following options: 
Implement 3 queues namely HIGHPR , NORMALPR , LOWPR.(AS PER THE PRIORITY)
1.Insert an element(Enqueue)
2. Search for an element
3. Change priority
4. Display list
5.Exit
For option 1:
The program accepts  an element along  with its priority from the user e.g:
Enter element : Ab123
Enter Priority(H/N/L) : N
As per the priority the element is inserted in the respective queue
For option 2: 
Ask for the element and search for it in all the three queues. If found display its queue name otherwise display not found.
For option 3:
Ask for an element and its priority. Also ask the user for its new priority . If the element is found remove it from the existing list and append it to the list as per the new priority.
For option 4:
Display all the three lists.
'''